:host {
  display: flex;
  margin: 20px 50px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  #category-chips-container {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;

    flex-wrap: wrap;

    cursor: pointer;

    > div {
      height: 35px;
      display: inline;
      margin: 5px;
      .p-chip {
        padding: 10px 20px;
      }
    }
  }
  .recipes-container {
    flex: 1;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  ::ng-deep {
    .p-card {
      height: 535px;
      .p-button {
        width: 100%;
      }
      .p-card-body {
        height: 172px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }
      .p-card-footer {
        position: relative;
      }
    }
    .p-card-content {
      display: none;
    }
  }
}
